<span class="relative grid">
	<span class="col-start-1 row-start-1">
		<slot />
	</span>
	<span
		class="animation-glitch pointer-events-none col-start-1 row-start-1 select-none bg-gray-50"
		aria-hidden="true"
	>
		<slot />
	</span>
</span>
