---
interface Props {
	target: string
}
const { target } = Astro.props
---

<a
	href={target}
	class="absolute bottom-12 left-1/2 -translate-x-1/2 text-xl text-gray-500 hover:text-primary-2 aria-hidden:opacity-50"
	aria-label="Scrollez vers le bas"
	data-scroll-indicator
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		stroke="currentColor"
		class="h-10 w-10 animate-bounce rounded-full border-current p-2"
	>
		<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
		></path>
	</svg>
</a>

<script>
	const init = () => {
		const $links = document.querySelectorAll('a[data-scroll-indicator]')
		$links.forEach(($link) => {
			document.addEventListener(
				'scroll',
				() => {
					const anim = $link.animate([{ opacity: 1 }, { opacity: 0 }], {
						duration: 300,
						fill: 'forwards'
					})
					anim.addEventListener('finish', () => {
						$link.remove()
					})
				},
				{ once: true }
			)
		})
	}

	document.addEventListener('astro:page-load', init)
	// init()
</script>
